@model BookStore.Models.ViewModels.Promotion.PromotionsViewModel

<div class="col-md-10 col-md-offset-1 promotion-table">
    @foreach (var category in Model.Categories)
    {
        <h4>Books In Category: @Html.DisplayFor(c => category.BooksCount)</h4>
        <hr />
        foreach (var book in category.Books)
        {
            <div class="col-md-4 col-sm-6 books-list">
                <div class="row text-center books-list-title">
                    <h4><span>&quot;</span>@Html.DisplayFor(b => book.Title)<span>&quot;</span></h4>
                    <p>
                        <span>by </span>
                        @foreach (var author in book.Authors)
                    {
                            <span class="text-center">
                                @Html.ActionLink(author.FullName, "BooksByAuthor", "Authors", new { authorName = author.FullName }, null)
                            </span>
                        }
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="/Books/Details/@book.Id">
                            <img src="@book.ImageUrl" alt="book-img" class="img-thumbnail" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <p><small>Issue Date - @Html.DisplayFor(p => book.IssueDate)</small></p>
                        <p><small>Lang - @Html.DisplayFor(b => book.Language)</small></p>
                        <p><small>In Stock -@Html.DisplayFor(b => book.Quantity)</small></p>
                        @using (Html.BeginForm("FavoriteBooks", "Users", FormMethod.Post))
                    {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(b => book.Id)
                            <div class="form-actions no-color">
                                <p>
                                    <button type="submit" value="Add to Favorite" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </button>
                                </p>
                            </div>
                        }
                    </div>
                    <p class="old-price text-center"><small>Old Price - @Html.DisplayFor(b => book.Price)</small></p>
                    <p class="you-will-save text-center"><small>New Price - @string.Format("{0:0.00}", (book.Price - ((book.Price * Model.Discount) / 100))) BGN</small></p>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        @using (Html.BeginForm("AddToBasket", "Baskets", FormMethod.Post))
                    {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(b => book.Id)
                            <div class="form-actions no-color">
                                <input type="submit" value="Add To Basket" class="btn btn-default" />
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <p class="btn btn-default">
                            @Html.ActionLink("See more", "Details", "Books", new { id = book.Id }, null)
                            &raquo;
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>


