@model BookStore.Models.ViewModels.Purchase.DeletePurchaseViewModel

@{
    ViewBag.Title = "Delete Purchase";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Purchase</h4>
    <hr />
    <dliv class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>
                @Html.DisplayNameFor(model => model.TotalPrice) -
                @Html.DisplayFor(model => model.TotalPrice)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.CompletedOndate) -
                @Html.DisplayFor(model => model.CompletedOndate)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.IsCompleted) -
                @Html.DisplayFor(model => model.IsCompleted)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.DeliveryAddress) -
                @Html.DisplayFor(model => model.DeliveryAddress)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.DeliveryDate) -
                @Html.DisplayFor(model => model.DeliveryDate)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.DeliveryPrice) -
                @Html.DisplayFor(model => model.DeliveryPrice)
            </p>
        </div>
    </dliv>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to All Purchases", "AllPurchases")
        </div>
    }
</div>
