@model BookStore.Models.BindingModels.Author.AddAuthorBindingModel

@{
    ViewBag.Title = "Create Author";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h4>@ViewBag.Title</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                    <div class="row">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label" })
                    <div class="row">
                        @Html.TextAreaFor(model => model.Bio, new { @class = "form-control", rows = "10" })
                        @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to All Authors", "AllAuthors")
</div>
