@model BookStore.Models.ViewModels.Author.AuthorWithBooksViewModel

@{
    ViewBag.Title = "Author Details";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            <h4>
                @Html.DisplayFor(model => model.FullName)
            </h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Books)
        </dt>

        <dd>
            <div class="row">
                @foreach (var book in Model.Books)
                {
                    <div class="col-md-4 text-center">
                        <h5>@Html.DisplayFor(b => book.Title)</h5>
                        <div class="img-box">
                            <a href="@Url.Action("Details", "Books", new { id = book.Id}, null)">
                                <img src="@book.ImageUrl.Replace("../", "../../")" alt="book-img" class="img img-thumbnail" width="50%" />
                            </a>
                        </div>
                        <div class="row">
                            <small>by @Html.DisplayFor(b => book.Authors)</small>
                            <p><small>@Html.DisplayFor(b => book.Price)</small></p>
                        </div>
                    </div>
                }
            </div>
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) ||
        @Html.ActionLink("Back to All Authors", "AllAuthors") ||
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>
</div>
