@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new {id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                    <img src="~/Content/Images/NavBar/user-3-64.png" class="img-rounded" alt="authentication" />
                    <b class="caret"></b>
                    <p class="carousel-caption">profile</p>
                </a>

                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("My Profile", "UserProfile", "Users", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("My Basket", "Details", "Baskets", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("My Favorite", "FavoriteBooks", "Users", new { area = "" }, null)</li>

                    <li class="divider"></li>
                    <li>@Html.ActionLink("Edit Profile", "EditProfile", "Users", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage", new { area = "" }, null)</li>
                </ul>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default">
                    <img src="~/Content/Images/NavBar/key-2-64.png" class="img-rounded" alt="authentication" />
                    <p class="carousel-caption">log out</p>
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                <img src="~/Content/Images/NavBar/key-2-64.png" class="img-rounded" alt="authentication" />
                <b class="caret"></b>
                <p class="carousel-caption">log in</p>
            </a>

            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </li>
    </ul>
}
